# http://www.gnu.org/software/automake

Makefile.in

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing

Makefile

**/Makefile
config.h
*~
**/*~
src/.deps
stamp-h1
config.log
config.status
src/*.lib
src/.libs
src/epanet2
src/libepanet2.la
src/*.o
src/*.lo
*.xz
libtool

